{% extends 'Stock/adminhome.html' %}
{% block content %}
<div class="container mt-5">
    <form action="{%url 'AddBill' %}" method="post"> 
        {% csrf_token %}   
    <div class="row form-body text-center" style="padding: 10px;">
        <div class="col-4">
            <label for="">Product Name:</label>
            <input type="text" name="pname" list="items" autofocus>
            <datalist id="items">
                {% for i in product %}
                    <option value="{{i.Product_Name}}">
                {% endfor %}
            </datalist>
        </div>
        <div class="col-4">
            <label for="">Product Batch Code:</label>
            <input type="text" name="pbatch">
        </div>
        <div class="col-4">
            <button class="btn btn-success" type="submit">Add Item</button>  
        </div>
    </div>
</form>

</div>
<div class="container text-center form-body mt-3">
    
    <h4>Bill Details</h4><br>
    {% for m in messages %}
    <h6 style="color: green;">{{m}}</h6>
    {% endfor %}
    <table class="table">
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Taxvalue</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        
        {% for item in bill %}
            
            
        <tr>
            <td>{{item.product.Product_Name}}</td>
            <td>{{item.quantity}}</td>
            <td>0</td>
            <td>{{item.product.Product_unit_Price}}</td>
            <td>{{item.product.Product_unit_Price}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <th>Total</th>
            <th>{{total}}</th>
        </tr>


    </table>
    <form action="{%url 'MakeSale' %}" method="post">
        {% csrf_token %}
    <button class="btn btn-primary" type="submit">Make Sale</button>
    </form>

</div>


{% endblock %}