{% extends "index.html" %}

{% block content %}

<!-- <h1>Your search......{{search}}</h1> -->

<div class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 500px;">
            
            <!-- <h1 class="display-5">Order Items Online</h1> -->
            <h6 class="text-primary text-uppercase">Searched Product
            </h6>
        </div>
        <div class="row g-5">
            
            {% for item in products  %}
            <div class="col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10">
                        <div class="position-relative">
                    <img class="img-fluid w-100" src="{{item.product_Image.url}}" alt="" style="height: 400px !important;">
                    <!-- <img class="img-fluid w-100" src="{{item.product_Image.url}}" alt=""> -->
                            <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                <h4 class="text-white">{{item.Product_Name}}</h4>
                                <h6>{{item.Product_Brand}}</h6>
                                <span class="text-white">₹{{item.Product_unit_Price}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="h-100 d-flex flex-column align-items-center justify-content-around bg-secondary py-5">
                            <a class="btn btn-square rounded-circle bg-white" href="{%url 'CartAdd' item.id %}"><i class="bi bi-cart text-secondary"></i></a>
                            <a class="btn btn-square rounded-circle bg-white" href="#"><i class="bi bi-eye text-secondary"></i></a>
                            <!-- <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-linkedin-in text-secondary"></i></a> -->
                            <!-- <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-instagram text-secondary"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>    
            {% endfor %}

        </div>
    </div>
</div>
  
{% endblock %}